{% extends 'app/base.html' %}
{% load static %}
{% block content_checkout %}
<div class="row" style='width: 100%;'>
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">
			<!-- <form method="post"id="form" > -->

			<form method="POST">

				{% csrf_token %}
				{% for message in messages %}
				<div class="alert alert-danger">
				  {{ message }}
				</div>
				{% endfor %}
				{% for field in shipping_address_form %}
				<div class="fieldWrapper">
				
					{{ field.label_tag }} {{ field }}
					{% if field.name == 'mobile' %}
					<span class="error">{{ field.errors }}</span>
					{% endif %}
				</div>
				{% endfor %}

				<input id="form-button" class="btn btn-success btn-block" type="submit" value="Đặt hàng">
			</form>


		</div>

		<br>
	
	</div>

	<div class="col-lg-6">
		<div class="box-element">
			<a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Quay lại</a>
			<hr>
			<h3>Giỏ hàng</h3>
			<hr>
			{%for item in items%}
			<div class="cart-row">
				<div style="flex:2"><img class="row-image" src="{{item.product.ImageURL}}"></div>
				<div style="flex:2">
					<p>{{item.product.name}}</p>
				</div>
				<div style="flex:1">
					<p>{{item.product.price}}</p>
				</div>
				<div style="flex:1">
					<p>{{item.quantity}}</p>
				</div>
			</div>
			{%endfor%}
			<div style="text-align: left;">
				<h5>Tổng số lượng: {{order.get_cart_items}}</h5>
			</div>
			<div style="text-align: right;">
				<h5>Tổng tiền: {{order.get_cart_total}}₫</h5>
			</div>

		</div>
	</div>
</div>
{% endblock content_checkout %}