{% extends 'app/base.html' %}
{% load static %}
{% block content_checkout %}
     <div class="row" style='width: 100%;'>
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<br>
						<p>Thông tin giao hàng:</p>
					<hr>
					
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Tên..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>
					
					<div id="shipping-info">
						
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Địa chỉ..">
						</div>
						
						<div class="form-field">
							<input class="form-control" type="phone" name="phone" placeholder="SDT..">
						</div>
						
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Đặt hàng">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div>
			
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Quay lại</a>
				<hr>
				<h3>Giỏ hàng</h3>
				<hr>
				{%for item in items%}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.ImageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>{{item.product.price}}</p></div>
					<div style="flex:1"><p>{{item.quantity}}</p></div>
				</div>
				{%endfor%}
				<div style="text-align: left;">
				<h5>Tổng số lượng:   {{order.get_cart_items}}</h5>
				</div>
				<div style="text-align: right;">
					<h5>Tổng tiền:   {{order.get_cart_total}}₫</h5>
				</div>
				
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		function placeOrder() {
			
			fetch("{% url 'send_order_email' %}", {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': "{{ csrf_token }}",
				},
				body: JSON.stringify({
					
				}),
			})
			.then(response => response.json())
			.then(data => {
				console.log(data);  // In dữ liệu phản hồi từ máy chủ (có thể là thông báo gửi email thành công)
			});
	
			// Hiển thị thông báo đặt hàng thành công sử dụng SweetAlert2
			Swal.fire({
				icon: 'success',
				title: 'Đặt hàng thành công!',
				text: 'Cảm ơn bạn đã đặt hàng. Chúng tôi sẽ gửi thông tin đơn hàng cho bạn trong thời gian sớm nhất.',
				showConfirmButton: false,
				timer: 3000
			});
			
			setTimeout(function () {
				window.location.href = "{% url 'home' %}";
			}, 3000);
		}
		
		document.getElementById("form").addEventListener("submit", function (event) {
			event.preventDefault(); // Ngăn form được gửi đi ngay lập tức
			placeOrder(); // Gọi hàm placeOrder khi nhấn nút "Đặt hàng"
		});
	</script>
	{% endblock content_checkout %}
